body {

    height: 1000px;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    font-family: sans-serif;

}

header {
    height: 80px;
    background-color: rgb(250, 250, 250);
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    float: left;
    margin-left: 150px;
    color: rgb(137, 137, 137);
}

.main {
    height: 142px;
    margin-top: 0px;
    padding: 0px;
    bottom: 600px;
    position: relative;
    top: 200px;
}

h2 {
    margin-left: 150px;
    color: rgb(137, 137, 137);
}

button {
    width: 90px;
    height: 36px;
    margin-left: 150px;
    border-radius: 8px;
    border: none;
    display: inline-block;
    background: #cdcdcd;
}

button.active {
    background: #66bc6a;
}

button:hover {
    background: #66bc6a;
}

.MyDate {
    margin-left: 150px;
    color: rgb(137, 137, 137);
}

.h3from {
    display: inline-block;
    margin-left: 150px;
    color: rgb(137, 137, 137);

}

.h3to {
    display: inline-block;
    margin-left: 476px;
    color: rgb(137, 137, 137);

}

/* form from */

.form {
    position: relative;
    width: 100%;
    position: relative;
    height: auto;
    margin-left: 150px;
    overflow: hidden;
}

.inputtparent {
    position: relative;
    height: 98px;
  
    

}

.form .input {

    float: left;
    position: absolute;
    width: 30%;
    height: auto;
    top: 77px;
    color: rgb(137, 137, 137);
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    font-size: 16px;

}

.area {

    position: absolute;
    float: right;
    bottom: 1px;
    width: 30%;
    height: auto;
    top: 75px;
    BOTTOM: 2px;
    right: 345px;
    border: none;
    color: rgb(137, 137, 137);
    border-bottom: 1.6px solid rgb(137, 137, 137);
    outline: none;
    font-size: 16px;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid rgb(137, 137, 137);
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 20%;
    border-bottom: 1px solid rgb(137, 137, 137);
    transform: translateX(-100%);



}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    color: rgb(137, 137, 137);
}

.form input:focus+.label-name::after,
.form input:valid+.label-name::after {
    transform: translateX(0%);

}


.sel {
    height: auto;
    width: 100%;
}

.sel1-select {
    width: 30%;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgb(137, 137, 137);
    float: 50%;
    color: rgb(137, 137, 137);
    height: 25px;

    margin-bottom: 10px;

}

.usdflag {
    width: 16px;
    position: absolute;
    top: 4.5px;
    left: 339px;
}

.usdflag2 {
    width: 16px;
    position: absolute;
    top: 2.5px;
    right: 368px;
}



.sel2-select {

    width: 30%;
    height: 25px;
    color: rgb(137, 137, 137);
    margin-left: 150px;
    border: none;
    border-bottom: 1px solid rgb(137, 137, 137);
    float: 50%;


}

.distance,
.weight {
    display: none;
}